body{
    margin:0;
    font-family: Arial, serif;
    background-color:#f1f1f1;
}
.logo {
    background-color:darkred;
    font-size:20px;
}
.logo-link{
    color:white;
    background-color: transparent;
    font-size:48px;
    margin-left:5%;
    text-decoration: none;
}
.logo-link:hover{
    color:lightgrey;
}
.login {
    margin:auto;
    max-width:300px;
}
.data-table{
    background-color: white;
}
.data-table tr:nth-child(even){
    background-color: lightgrey;
}

.error{
    color: red;
    font-style: italic;
}



